div.left{
	float:left;
	width:10%;
	text-align:center;
	background-color:#CCFF99;

}

div.right{
	
	float:left;
	width:90%;
	text-align:center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



.no-close .ui-dialog-titlebar-close {
	
	display: none;
	}

	div.left{
	float:left;
	width:10%;
	text-align:center;
	background-color:#CCFF99;

}

div.right{
	
	float:left;
	width:90%;
	text-align:center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



.no-close .ui-dialog-titlebar-close {
	
	display: none;
	}

div.left1{
	float:left;
	width:30%;
	text-align:center;
	

}

div.right1{
	
	float:left;
	width:70%;
	text-align:center;
}
